.App {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  color: #4a6d7c;
}

.box {
  background-color: #ff7b54;
  position: absolute;
  /* border: 3px solid black; */
  outline: 1px solid black;
  /* left: 20px;
  top: 50px; */
}

.app {
  width: 1000px;
  background-color: #ffb26b;
  height: 1000px;
  border-radius: 8px;
  position: relative;
}

.box-info {
  width: 1000px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.box-functions {
  display: flex;
  align-items: center;
  align-content: center;
}

label,
input,
button {
  margin-right: 5px;
}

.number {
  width: 50px;
  border-radius: 8px;
  padding: 3px 10px;
  border: 1px solid #ffb26b;
}

button {
  /* border: 1px solid #ffb26b; */
  background-color: #f8cba1;
  border-radius: 8px;
  cursor: pointer;
  padding: 3px 10px;
  border: none;
  color: #4a6d7c;
}

button:hover {
  background-color: transparent;
  border: 1px solid #ffb26b;
}

.inputs {
  margin-right: 5px;
  color: #4a6d7c;
}
